@import url('https://fonts.font.im/css?family=Bilbo+Swash+Caps');
body
{
  margin: 0;
  padding: 0;
  font-family: 'Bilbo Swash Caps', cursive;
  background: url(./images/dark_wood.webp);
  background-size: cover;
}
.neon
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0 20px;
  font-size: 8em;
  color: #fff;
  text-shadow: 0 0 20px #ff005b;
}
.neon::after
{
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 20px;
  z-index: -1;
  color: #ff005b;
  filter: blur(15px);
}
.neon::before
{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fe3a80;
  opacity: .5;
  filter: blur(15px);
}